@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.content{
    position: relative;
    margin-top: -20%;
}
.content2{
    position: relative;
    margin-top: 20%;
}

.content h2{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 8em;
}

.content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #940e0e;
}

.content h2:nth-child(2){
    color: #940e0e;
    animation: animate 1s ease-in-out infinite;
}

.content2 h2{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 8em;
}

.content2 h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #940e0e;
}

.content2 h2:nth-child(2){
    color: #940e0e;
    animation: animate2 1s ease-in-out infinite;
}

@keyframes animate {
    0%,100%{
        clip-path: circle(0% at 50% 100%);
    }
    20%{
        clip-path: circle(60% at 50% 100%);
    }
}

@keyframes animate2 {
    0%,100%{
        clip-path: circle(0% at 50% 0%);
    }
    20%{
        clip-path: circle(70% at 50% 0%);
    }
}