@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Prism', cursive;
    font-size: 100px;
   
    font-weight: 1;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.one{
    background: #22a4f0;
    color: #0a0038;
}

.two{
    background: #11c479;
    color: #023800;
}

.three{
    background: #ad41ec;
    color: #320038;
}

.four{
    background: #db7f15;
    color: #380000;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background:#222;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #fff;
  }