@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#181818, #111111);
}

.container{
    position: relative;
    background: linear-gradient(#222222, #181818);
    border-radius: 20px;
    border-top-right-radius: 225px;
    border-top-left-radius: 225px;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.75),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock{
    position: relative;
    width: 450px;
    height: 450px;
    background: linear-gradient(#222222, #181818);
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #222222;
    border: 3px solid #555;
    border-radius: 50%;
    z-index: 100;
}

.clock span{
    position: absolute;
    inset: 20px;
    color: #777;
    text-align: center;
    transform:rotate(calc(30deg*var(--i)));
}

.clock span b{
    font-size: 2.2em;
    opacity: 1;
    display: inline-block;
    transform: rotate(calc(-30deg*var(--i)));
    text-shadow: 0 0 20px #777,
    0 0 10px #777;
}

.circle{
    position: absolute;
    width: 280px;
    height: 280px;
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.circle i{
    position: absolute;
    width: 10px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

.circle:nth-child(1) i{
    width: 4px;
}

.circle:nth-child(2) i{
    width: 8px;
}

.c2{
    position: absolute;
    width: 220px;
    height: 220px;
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 50%;
    z-index: 9;
}

.c3{
    position: absolute;
    width: 160px;
    height: 160px;
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 50%;
    z-index: 8;
}

.circle::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: -8.5px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr),
    0 0 10px var(--clr);
}

#time{
    margin-bottom: 30px;
    display: flex;
    padding: 0px 20px;
    font-size: 2.5em;
    border: 3px solid rgba(0,0,0,0.5);
    border-radius: 20px;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(10,10,10,0.5),
    inset 5px 5px 20px rgba(10,10,10,0.2),
    inset -5px -5px 15px rgba(10,10,10,0.75);
    color: #777;
    text-shadow: 0 0 20px #777,
    0 0 10px #777;
}

#time div{
    position: relative;
    width: 80px;
    text-align: center;
}

#time div:nth-child(1)::after, #time div:nth-child(2)::after{
    content: ':';
    position: absolute;
    right: -4px;
    top: -3px
}

#time div:nth-child(2)::after{
    animation: animate 1s steps(1) infinite;
}

@keyframes animate{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}