*{
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    box-sizing: border-box;
}
body{
    background: #1d2026;
}

.hero{
    background: #1d2026;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    padding: 50px 6%;
}

nav .menu-img{
    width: 50px;
    margin-right: 20px;
}

nav .logo{
    width: 200px;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    margin-right: 50px;
    font-size: 26px;
    font-weight: 50;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

button{
    background: #e9e9e9;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

button span{
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 4px;
    transition: background 0.5s, margin-left 0.5s;
}

.lamp-container{
    position: absolute;
    left: 20%;
    width:35%;
}

.lamp{
    width:100%;
}

.light{
    position: absolute;
    left: 0%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.text-container{
    max-width: 600px;
    margin-top: 6%;
    margin-left: 60%;
    margin-right: 5%;
}

.text-container h1{
    font-size: 39px;
    font-weight: 1000;
}

.text-container p{
    font-size: 20px;
    font-weight: 50;
}

.text-container a{
    cursor: pointer;
    font-size: 20px;
    font-weight: 50;
    text-decoration: none;
    background: #4ba596;
    padding: 20px 40px;
    display: inline-block;
    color: #fff;
    margin-top: 30px;
    border-radius: 30px;
    margin-bottom: 30px;
}
.active{
    background: #4ba596;
}

.active span{
    background: #fff;
    margin-left: 29px;
}

.on{
    opacity: 1;
}

.unselectable{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media screen and (min-width: 1900px){
    .lamp-container{
        width:650px;
    }
}

@media screen and (max-width: 1090px) {
    .text-container{
        margin-left: auto;
        margin-right: auto;
        margin-top: 450px;
    }
    .lamp-container{
        width:400px;
        left: 10%;
    }
    nav .logo{
        margin-right: 30%;
    }
}

@media screen and (max-width: 900px) {
    nav .logo{
        margin-right: 10%;
    }
}

@media screen and (max-width: 720px) {
    .text-container{
        margin-left: 10%;
        margin-right: 10%;
    }
    nav ul li a{
    font-size: 0px;
    }
}

.dropdown {
  padding: 40px 133px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  perspective: 2000px;
  z-index: 100;
}
.dropdown:hover {
  cursor: pointer;
}
.dropdown:hover .dropdown_menu li {
  display: block;
}
.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;
}
.dropdown_menu li {
  text-align: left;
  display: none;
  color: #fff;
  background: #323842;
  padding: 20px 20px;
  font-size: 35px;
  opacity: 0;
}
.dropdown_menu li:hover {
  background-color: #4ba596;
}
.dropdown:hover .dropdown_menu--animated {
  display: block;
}
.dropdown_menu--animated {
  display: none;
}
.dropdown_menu--animated li {
  display: block;
  opacity: 1;
}
.dropdown_menu-7 {
  animation: rotateMenu 400ms ease-in-out forwards;
  transform-origin: top center;
}



@-moz-keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-o-keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}